/* MY WORDS */
.div__MtTOI{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.div__9lvoh{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex; align-items: flex-start;
}

.footer__aaLcf{
    position: sticky; bottom: 0; left: 0;
    background: #272727;
    display: flex;

}
 
.button__nysOo{ 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #ffffff;
    width: 50px;
    height: 50px;

    cursor: pointer;

    font-size: 18px; font-weight: bold;
}   .button__nysOo:hover{ opacity: .75; }

.div__7KR3t{
    margin: 0 auto;
    width: min( 100%, 1000px  );

    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( min( 100%, 250px ), 1fr ) );
    gap: 15px; padding: 0 15px;
}

.button_CwWO5{
    background: #ffffff;
    font-size: 17px; font-weight: bold;
    padding: 20px;

    border-radius: 5px;

    cursor: pointer;
    user-select: none;

}   .button_CwWO5:hover{ opacity: .75; }

.div__EzRj3{
    margin: auto; 
    padding: 120px 20px;
}

.h3__a0DoH{
    color: #ffffff;
    font-size: 25px;
}


/* FORM WORD */
.form__bbYa2{
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div__q4tSi{
    background: #ffffff;
    position: relative;

    width: min( 100%, 400px );
    
  
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 5px;
}
 
.div__Ynhkq{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
} 

.input__Qc9Lu{
    background: none;
    outline: none;
    border: none;

    padding: 40px; padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
    letter-spacing: 5px;

    font-size: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.button__GvmU2{
    background: none;

    min-width: 50px; 
    height: 50px; 

    border-radius: 50%;
    border: 1.25px solid #000000;
    cursor: pointer;

}   .button__GvmU2:hover{ opacity: .5; }

.button__zCkrz{
    background: #000000;
    color: #ffffff;
    border: 1.25px solid #000000;
    width: 100%;
    height: 50px;

    border-radius: 50px;
    border: 1.25px solid #000000;
    cursor: pointer;
}   .button__zCkrz:hover{ opacity: .5; }

/* FORM COPY */
.form__SVnn0{
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex; 
}

.div__VIXD3{
    margin: auto;
    position: relative;
    background: #ffffff;

    width: min( 100%, 400px );

    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    border-radius: 5px;
}

.div__o34UX{
    display: flex; justify-content: center;
    padding: 20px;
}

.input__lQJ6N{
    background: none;
    outline: none;
    border: none;
    padding: 40px; padding-bottom: 20px;
    text-align: center;
    font-size: 17px; font-weight: bold;
}

.a__GA9L7{
    display: block;
    color: #000000;
    font-size: 18px;
}   .a__GA9L7:hover{ opacity: .5; }

.button__fKiPB{
    background: #000000;
    color: #ffffff;
    height: 50px;

    cursor: pointer;
}   .button__fKiPB:hover{ opacity: .5; }


/*  WORDS */
.div__BSZNf{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.div__kVrC9{
    width: 100%;
    height: 100%;
    
    display: flex;
}   

.button__E16S6{
    background: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    display: none;

    cursor: pointer;
} .button__E16S6:hover,.button__E16S6:focus, .button__E16S6.focus{ opacity: .75; }

.button__pZYKq{

    position: relative;
    background: none;

    border-radius: 5px;
    border: 1.25px solid #ffffff;
    outline: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    pointer-events: none;
    transition: all .3s ease-in-out;
}   .button__pZYKq.focus{ box-shadow: 0 0 10px 0 #3b8dda; border: 1.25px solid #3b8dda; }
    .button__pZYKq::after{ content: ''; position: absolute; inset: 0; }

    .button__pZYKq.content{ background: orange; border: 1.25px solid orange;   }
    .button__pZYKq.correct{ background: green; border: 1.25px solid green; }
    .button__pZYKq.invalid{ background: gray; border: 1.25px solid gray; }
    .button__pZYKq.solution{ background: lightblue; border: 1.25px solid lightblue; }

.span__ooE8r{
    position: absolute;
    color: #ffffff; font-size: 18px; font-weight: bold;
    animation: _big .3s ease-in-out;
}

.img__nkU1t{
    width: 100%;
    opacity: 0;
}

@keyframes _big {
    0%{ font-size: 0px; opacity: 0; }
    100%{ font-size: 18px; opacity: 1;  }
}

/* WORDS - footer */
.footer__o2wjh{
    width: 100%;
    min-height: auto;
    padding: 20px;
}

.form__mrshi{
    margin: auto;
    background: rgb( 255 255 255 / .9);
    width: min( 100%, 600px );
    min-height: auto;
    padding: 20px; gap: 20px;

    border-radius: 5px;

    display: flex;
    flex-direction: column; 

}   .form__mrshi.finish{ pointer-events: none; }
    .form__mrshi.complete .div__EtPfg, .form__mrshi.finish .div__EtPfg{ display: flex; }
    .form__mrshi.complete .button__PNnVU.submit{ display: block }
    .form__mrshi.finish .button__PNnVU.repeat{ display: block }

.div__THdvy{ 
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
}

.div__Asbax{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: inherit;
}

.button__ZXvlF{
    position: relative;
    background: #ffffff;
    
    display: flex; align-items: center; justify-content: center;

    border: none;
    outline: none;

    cursor: pointer;

    border-radius: 5px; 

}   .button__ZXvlF:hover{ opacity: .75 }
    .button__ZXvlF::after{ content: ''; position: absolute; inset: 0; }

.span__Z8Ug6{
    position: absolute;
    font-weight: bold;
    font-size: 17px;
}

.img__Q0dIY{
    width: 100%;
    opacity: 0;
}

.button__y1oUA{
    background: rgb( 181 178 178 );
    border: none;
    outline: none;

    cursor: pointer;
    border-radius: 2.5px;

    grid-column: span 3;
    color: #ffffff; 
}   .button__y1oUA:hover{ opacity: .75; }

.div__EtPfg{
    margin: auto;
    display: none;
    gap: inherit;
}   

.button__PNnVU{
    position: relative; 

    background: #000000;
    color: #ffffff;
    border: none;
    outline: none;

    cursor: pointer;
    border-radius: 5px;

    width: 45px;
    height: 45px;

    border-radius: 50%;
 
    display: none;
    pointer-events: initial;
    animation: _confirm .3s ease-in-out
}   .button__PNnVU:hover{ opacity: .75; }

@keyframes _confirm {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}