/* FLY BALL */
.button__wDuge{
    position: fixed; bottom: 20px; right: 20px;
    background: #ffffff;
    color: #000000;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    cursor: pointer;
    font-size: 16px; font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

}   .button__wDuge:hover{ opacity: .5; }
    .button__wDuge i{ pointer-events: none; }

/* NAVIGATE HEADER */
.header__IhVQo{ 
    position: sticky; z-index: 999; top: 0; left: 0;
    background: rgba( 0 0 0 / .1 );
    backdrop-filter: blur( 5px );
    display: flex;
    padding: 10px;
 
    backdrop-filter: blur( 5px );
    height: 125px; 
} 

.div__lXfEW{
    margin: auto; 

    width: min( 100%, 750px );
    height: auto; gap: 10px;
 
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}
 
.button__Xlu5A{ 
    display: flex;
    align-items: center;
    justify-content: center;
     
    color: #ffffff;
    width: 40px;
    height: 40px;
 
    cursor: pointer;
    font-size: 18px; font-weight: bold;
}   .button__Xlu5A:hover{ opacity: .75 }


.div__v3hnx{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.span__E108V{ 
    font-size: 17.5px;
    font-weight: bold;
    text-align: center;

    text-transform: uppercase;
    color: #ffffff;
} 
.div__26NVF{  
    display: flex;  
    align-items: center; 
    justify-content: center;
    overflow: hidden; gap: 15px;
}   

.div__YB9qT{  
    display: flex;
    align-items: center; 
    padding: 10px; gap: 15px;
    max-width: 100%;

    overflow: hidden;
    overflow-x: auto; 
}   .div__YB9qT::-webkit-scrollbar{ display: none; }

.div__PmOs3{
    display: inherit;
    gap: inherit;
}

.a__rzots{ 
    background: none;
    color: #ffffff;

    position: relative;
    display: flex; align-items: center;
    justify-content: center; gap: 10px;

    min-width: auto;
    height: 35px;
    padding: 0 20px;
    border-radius: 35px;
    border: 1.5px solid #ffffff;

    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
}   .a__rzots:hover{ opacity: .75; }
    .a__rzots.focus{ background: #ffffff; color: #232323; } 

.span__cMsEk{ 
    height: auto;
    font-size: 15px;

    max-width: 150px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.span__G5oMm{
    position: relative;
    background: #ffffff;
    height: 30px;
    min-width: 2px;

    border-radius: 2px;
    display: block;  
}

.button__EZenO{ 
    background: none;

    min-width: 35px;
    height: 35px;

    border-radius: 50%;

    border: 2px dotted #ffffff;
    color: #ffffff;

    cursor: pointer;
}   .button__EZenO:hover{ opacity: .5; }

/* LIST I */

.div__5YMhu{
    position: fixed; inset: 0;
    overflow: hidden;

    display: flex; flex-direction: column;
}

.div__ZfjeC{ 
    width: 100%;
    height: 100%;
}

.div__vkNWh{
    margin: auto; 
    width: min( 100%, 750px ); 
    gap: 5px;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( min( 100%, 300px ), 1fr ) );  
    padding: 15px; 
    
    gap: 10px;
}

.div__rfyDj{
    position: fixed; inset: 0; top: 125px; 
    display: flex;
}
 
.h2__26GyY{
    margin: auto;
    text-align: center;
    padding: 100px 0;
    color: #ffffff;
}

.div__jKXJF{  
    grid-column-start: 1;
    grid-column-end: -1;
    height: auto;  
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    align-items: center; 
}

.span__74cTb{ 

    text-align: center;
    color: #ffffff;

    font-size: 20px; font-weight: bold;
}

.div__ZdG6w{
    display: flex;
    justify-content: right;
    align-items: center;
}

.button__naz8q{
    background: none;
    color: #ffffff; 

    font-size: 15px;
    font-weight: bold;

    width: 30px;
    height: 30px;

    cursor: pointer;

    
}   .button__naz8q:hover{ opacity: .75 }

.button__hRa71{
    background: rgb( 255 255 255 / .1 ); 

    display: grid;
    grid-template-columns: 1fr;
    padding: 13px; gap: 3px;

    border-left: 3px solid #ffffff;
    overflow: hidden;

    cursor: pointer;

    text-align: left;

    color: #ffffff;
    border-radius: 3px; 

    animation : _show .5s ease-in-out; 
}   .button__hRa71:hover{ opacity: .5 }
 
.div__9pIxD{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.span__E1K1Q{
    font-size: 18px; font-weight: bold;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.span__YKWWm{
    font-size: 15px;
    text-align: right;
}

.p__vCWBK{
    font-size: 15px; 

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes _show {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

/* LIST II */

.div__U7AFF{
    background: rgb( 255 255 255 / .1 ); 

    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.div__6fEXq{ 
    margin: auto; 
    width: min( 100%, 750px );  

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( min( 100%, 300px ), 1fr ) );   
    
    gap: 8px; 
}

.div__U7AFF{
    animation : _show .5s ease-in-out; 
}

.button__gOaRy{
    width: 100%;
    height: 60px;
    padding: 0 20px; gap: 20px;

    text-align: left;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between; 

}   .button__gOaRy:hover{ opacity: .5; }
    .button__gOaRy h3{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px; font-weight: bold;

        color: #ffffff;
    }
    .button__gOaRy i{
        color: #ffffff;
        display: none;
    }
    .button__gOaRy:hover i{ display: initial; }

.a__RPgtK{
    display: flex; align-items: center; justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    color: rgb( 255 255 255 / .7 );
}   .a__RPgtK:hover{ opacity: .5; }

.span__QIyQG{
    position: relative; left: 20px;
    display: block;
    background: rgb( 255 255 255 / .3 );
    width: calc( 100% - 40px );
    min-height: 1.25px;
    border-radius: 1.25px;
}

/* MESSAGE */

.div__4WpuJ{
    position: fixed; inset: 0;

    display: flex;
    padding: 20px;
}
 
.div__um0ux{ 
    margin: auto; 

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 40px;
}   .div__um0ux h3{
        text-align: center;
        font-size: 23px;
        color: #ffffff;
    }
    .div__um0ux img{
        width: min( 50%, 80px );
        filter: invert(96%) sepia(96%) saturate(16%) hue-rotate(261deg) brightness(103%) contrast(105%);
    }

/* MESSAGE II */
.div__8WBYR{
    background: var( --baseColor );
    position: fixed; z-index: 999; inset: 0;
    display: flex; flex-direction: column;
}

.header__6Bcvu{
    position: sticky; z-index: 999; top: 0; left: 0;
    
    display: flex; 
    align-items: center;
}
 
.a__1swPs{ 
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    width: 55px;
    height: 55px;

    font-size: 18px; font-weight: bold;
}   .a__1swPs:hover{ opacity: .75; }

.div__uUmOC{
    display: flex;

    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}

.div__eq3zb{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;

    gap: 40px;
}   .div__eq3zb h3{
        text-align: center;
        font-size: 23px;
        color: #ffffff;
    }
    .div__eq3zb img{
        width: min( 50%, 80px );
        filter: invert(96%) sepia(96%) saturate(16%) hue-rotate(261deg) brightness(103%) contrast(105%);
    }

/*  FORM WORD */

.input__vbkD7{
    background: none;
    outline: none;
    border: none;
    
    height: 70px;
    text-align: center;

    font-size: 20px; font-weight: bold;
    color: #ffffff;
}

.div__COvt4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px; padding-top: 0;
    gap: 15px;
}

.button__qnn3R{
    background: #ffffff;
    color: #000000;
    border: 1.25px solid #ffffff;

    width: 60px;
    height: 40px;

    border-radius: 40px;
    cursor: pointer;

    font-size: 15px; font-weight: bold;
}   .button__qnn3R:hover{ opacity: .8; }
    .button__qnn3R.icon{
        background: none;
        color: #ffffff;
    }   


/* FORM GAME WORD */
.div__qCTlR{
    position: fixed; inset: 0; top: 65px;

    display: flex;
    flex-direction: column;
}

.form__sZPYW{
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;

}   .form__sZPYW.off .div__60ACB{ pointer-events: none; }

.div__60ACB{
    margin: auto;
    /*  width: min( 100%, 350px );  */

    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    animation : _show .5s ease-in-out; 

}

.div__0cUod{
    position: relative;
    display: grid;
    /*  grid-template-columns: repeat(5, 1fr);  */
    gap: inherit; 
    pointer-events: none;
    opacity: .5;
}   .div__0cUod.focus{  
        pointer-events: inherit;
        opacity: 1;
    }
    .div__0cUod.solution{   
        opacity: 1;
    }
    .div__0cUod.solution .button__b7evp{
        background: #ffffff; color: #000000; 
    }


.button__b7evp{
    background: none;
    position: relative; 

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dotted #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;

}   .button__b7evp:hover{ opacity: .5; }
    .button__b7evp.focus{ border: 2px dotted #ffffff; box-shadow: 0 0 10px 0 #ffffff; }
    .button__b7evp.correct{ background: rgb(48, 113, 48); border: 2px dotted rgb(48, 113, 48); }
    .button__b7evp.midle{ background: rgb(171, 153, 10); border: 2px dotted rgb(171, 153, 10); }
    .button__b7evp.bad{ background: rgb(141, 141, 141); border: 2px dotted rgb(141, 141, 141); }
    .button__b7evp img{
        width: 100%; opacity: 0;
    }
    .button__b7evp span{
        position: absolute; top: 50%; transform: translateY(-50%);
        color: inherit;
        font-size: 20px;
        animation: _upp .5s ease-in-out;
        font-weight: bold;
    }

.button__TTjeG{
    position: absolute; top: 50%; right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.form__NcrJB{
    width: 100%;
    min-height: auto;
    display: flex;
    padding: 13px;

}   .form__NcrJB.off{ pointer-events: none; }
    .form__NcrJB.off .button__PNnVU.submit,
    .button__PNnVU.submit.off{
        pointer-events: none;
        opacity: .5; 
    } 

.div__Mp3zK{ 
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px; 

    border-radius: 5px;
    animation : _show .5s ease-in-out; 
}

.div__EtPfg{
    margin: auto;
    display: flex;
    gap: 10px; 
}   

.button__PNnVU{
    background: none;
    color: #ffffff;
    font-size: 13px;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    cursor: pointer;
    pointer-events: initial;
    border: 1.25px solid #ffffff;

}   .button__PNnVU:hover{
        opacity: .5;
    }

.div__THdvy{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.div__Asbax{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: inherit;
}   

.button__ZXvlF{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
}   .button__ZXvlF:hover{
        opacity: .5;
    }
    .button__ZXvlF span{
        position: absolute;
        font-size: 15px;
        font-weight: bold;
    }
    .button__ZXvlF img{
        opacity: 0;
        width: 100%;
    }
    .button__ZXvlF.Backspace{
        grid-column: span 3;
        background: rgba(255 255 255 / .5);
        color: #000000;
    }

@keyframes _upp {
    0%{ top: -50%; }
    100%{ top: 50%; }
}



/* FORM WORD */
.div__cOBMK{
    background: none;
    position: relative; 
    border-top: 1.25px solid rgb( 255 255 255 / .3 );

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input__AIfl7{
    background: none;
    width: 100%;
    height: 100px;

    text-align: center;
    border: none;
    outline: none;

    font-size: 20px; font-weight: bold;
    color: #ffffff;
}

.button__qDWQ5{
    width: 50px;
    height: 50px;

    color: #ffffff;
    font-weight: bold;

    cursor: pointer;
}   .button__qDWQ5:hover{ opacity: .5; }