*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #272727; 
    position: relative;


    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   body::-webkit-scrollbar{ display: none }

#root{ 
    width: 100%; 
}
 
/*--GENERAL--*/
button{
    background: none;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: #000000;
}

textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.after{ overflow: hidden; position: relative; }
.after::after{ content: ''; position: absolute; inset: 0; }

.scrollbarY{ overflow: hidden; overflow-y: auto; }
.scrollbarY::-webkit-scrollbar{ display: none; }

.scrollbarX{ overflow: hidden; overflow-x: auto; }
.scrollbarX::-webkit-scrollbar{ display: none; }

/* LOGIN/REGISTER */
.div__kwxAo{
    position: fixed; inset: 0;

    display: flex;
}

.form__602XV{
    position: relative;
    margin: auto; 

    width: min( 100%, 425px );
    padding: 20px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.title__bZa1V{
    text-align: center;
    color: #ffffff;
    font-size: 25px; font-weight: bold;
}

.label__UHfty{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    cursor: text;
}   

.span__gpD3m{
    color: #ffffff;
}

.input__4ZO1I{
    position: relative;
    background: none;
    color: #ffffff;
    outline: none;

    border: 1.25px solid #ffffff;
    height: 1.25px;
    border-radius: 1.25px;
    padding: 0 15px;
    font-size: 16px; font-weight: bold;

    transition: all .3s ease-in-out;
}   .input__4ZO1I:focus, .input__4ZO1I.focus, .input__4ZO1I.error{
        height: 50px;
        border-radius: 5px;
    } 
    .input__4ZO1I.error{ 
        animation: message .1s ease-in-out; color: #b43030; border: 1.25px solid #b43030;
    } 

    .input__4ZO1I:focus{ box-shadow: 0 0 10px 0 #ffffff; }
    .input__4ZO1I.error:focus{ box-shadow: 0 0 10px 0 #b43030; }


.span__0uBLC{
    width: 100%;

    color: #b43030;
    font-size: 13px; 

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    
}   .span__0uBLC.error{ display:block }
     

.div__fst1a{
    display: flex;
    justify-content: space-between;
}

.a__HKzGO{
    text-decoration: none;
    color: gray;
}   .a__HKzGO:hover{ opacity: .8 }

.a__g1IdQ{
    text-decoration: none;
    background: none;
    outline: none;

    color: #ffffff;
    font-size: 17px; font-weight: bold;
    cursor: pointer;
}   .a__g1IdQ:hover{ opacity: .8 }

.button__yv4SV{
    background: #ffffff;
    color: #000000;

    outline: none;
    border: none;

    width: 100%;
    height: 50px;
    border-radius: 5px;

    font-size: 16px; font-weight: bold;
    cursor: pointer;
}   .button__yv4SV:hover{ opacity: .8 }


.div__CfpYT{
    position: relative;
    background: #b43030; 
    width: 100%;
    height: 0;
    padding:  0 20px; gap: 20px;
    opacity: 0;

    display: flex; align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}   .div__CfpYT.message{ opacity: 1; height: 50px; }
    .div__CfpYT.error{ animation: message .1s ease-in-out; }
.span__BThGf{
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button__QgKFK{
    background: none;
    color: #ffffff;

    outline: none;
    border: none;

    cursor: pointer;
}   .button__QgKFK:hover{ opacity: .8 }


@keyframes message {
    0%,100%{
        left: -10px;
    }
    50%{
        left: 10px;
    }
}

/* HEADER */
.header__LnDL7{
    position: sticky; z-index: 999; top: 0; left: 0;
    background: #272727;
}
 
.button__UKRR2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: none;
    color: #ffffff;
    width: 50px;
    height: 50px;
 
    cursor: pointer;
    font-size: 18px; font-weight: bold;
}   .button__UKRR2:hover{ opacity: .75 }

/* MODAL ELEMENT */
.div__cI7bW{
    backdrop-filter: blur( 2.5px );
    position: fixed; inset: 0; z-index: 999;  

    display: flex; justify-content: center;

} 
.a__jo9mu1{
    position: fixed; inset: 0;
    cursor: pointer;
}

/* OPCIONES USER */
.div__ZVwZr{
    position: absolute; bottom: 20px;
    background: #ffffff; 

    width: min( 100%, 375px ) ;
    height: auto;

    border-radius: 5px;
    overflow: hidden;
}

.div__AG3Eu{
    display: flex; 
    padding: 20px; gap: 20px;
}

.div__bMGjU{
    display: flex; flex-direction: column;
    max-height: 400px;
}

.a__C854s{ 
    display: flex;  
    align-items: center;

    width: 100%;
    min-height: 60px;
    padding: 0 20px; gap: 20px;
}   .a__C854s:hover{ background: rgb(181 178 178 / .3 ); }

.a__TMrnX{
    background: #ffffff ;
    border: 1.25px solid #000000;

    display: flex; align-items: center; justify-content: center;

    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;

    color: #000000;  

    overflow: hidden;
}   .a__TMrnX:hover{ opacity: .75; }

.a__Tdzkh{
    background: #000000 ;
    border: 1.25px solid #000000;

    display: flex; align-items: center; justify-content: center;

    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;

    color: #ffffff;
}   .a__Tdzkh:hover{ opacity: .75; }

.button__Tdzkh{
    background: #000000 ;
    border: 1.25px solid #000000;

    min-width: 90px;
    height: 50px; 

    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}   .button__Tdzkh:hover{ opacity: .75; }

.span__ZXLa6{
    display: block;
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 16px; font-weight: bold;
}

/* MODAL APP */
.div__F0BGj{
    position: fixed; inset: 0; 
    display: flex; flex-direction: column;
}

.header__xF47w{
    position: sticky; z-index: 999; top: 0; left: 0;
    background: #272727;

    display: flex; gap: 15px;
}
 
.a__w64L6{ 
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    width: 50px;
    height: 50px;

    font-size: 18px; font-weight: bold;
}   .a__w64L6:hover{ opacity: .75; }

.div__1p9kk{
    width: 100%;
    height: 100%;

    display: flex; align-items: flex-start;
}

/* RESPONSIVE    */
@media only screen and (max-width: 600px)  {
    /* OPCIONES USER */
    .div__ZVwZr{  
        width: 100%; 
        bottom: 0;
        border-radius: 5px 5px 0 0;
    } 

    .div__bMGjU{
        display: flex; flex-direction: column;
        max-height: 50vh;
    }
}