@media only screen and (max-width: 600px)  {
    /* LOGIN/REGISTER */
    .div__kwxAo{
        position: initial;
        inset: initial;
    }
 
    /* LIST NOTES */
    .div__rfyDj{ 
        padding: 5px; gap: 5px;
        padding-bottom: 100px;
    }

    /* VIEW MODAL NOTE */
    .form__ZRaaY{ padding: 0; }
    .div__nBqSy{
        width: 100%;
        height: min( calc( 100% - 45px ), 600px );
        border-radius: 5px 5px 0 0;
    }

    /* FORM MODAL NOTE */
    .form__qv69y{ padding: 0; }
    .div__oVrui{
        width: 100%; 
        border-radius: 5px 5px 0 0; 
    }

    /* FORM MODAL CATEGORY */
    .form__ywMJK{ padding: 0; }
    .div__N2rdd{
        width: 100%; 
        border-radius: 5px 5px 0 0; 
    }

    /*  FORM GAME WORD */
    .form__sZPYW{
        padding: 8px;
    }
    .div__60ACB{
        gap: 5px;
    }
    .form__NcrJB{ 
        padding: 8px;
    }
}
 